<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="../assets/styles/styles.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="../assets/styles/detailStyle.css" />

    <title>Globos aerostáticos</title>
  </head>
  <body>
    <header class="header">
      <nav class="nav-bar">
        <input type="checkbox" id="nav-check" />
        <div class="nav-bar__btn">
          <label for="nav-check">
            <span></span>
            <span></span>
            <span></span>
          </label>
        </div>

        <div class="nav-bar__links" id="mainListDiv">
          <a href="../index.html">Inicio</a>
          <a href="./categories.html">Categorías</a>
          <a href="./presentation.html">Presentación</a>
          <a href="./links.html">Enlaces</a>
        </div>
      </nav>
    </header>
    <div class="flex-container">
      <main>
        <div class="detail__title">
          <h1>Globos aerostáticos</h1>
          <p>En Puerto López | Meta</p>
        </div>

        <div class="detail__submenu">
          <ul class="submenu__list">
            <li>
              <a href="./ombligo-detail.html">Ombligo de Colombia</a>
              <span>·</span>
            </li>

            <li>
              <a href="./parque-avestruz-detail.html">Parque Avestruz </a>
              <span>·</span>
            </li>
            <li>
              <a href="./cano-venturosa-detail.html">Caño La Venturosa</a
              ><span>·</span>
            </li>
            <li>
              <a href="./globos-aerostáticos-detail.html"
                >Globos aerostáticos
              </a>
              <span>·</span>
            </li>
            <li>
              <a href="./merecure-parque-detail.html">Merecure Parque</a>
              <span>·</span>
            </li>
            <li>
              <a href="./rio-meta-detail.html">Navegación por el rio Meta</a>
            </li>
          </ul>
        </div>

        <div class="detail__text">
          <p>
            Como si se tratara de un paisaje típico de Capadocia, en Turquía,
            los cielos de Puerto López se engalanan con globos de colores
            gracias a este festival que va del 19 al 22 de enero todos los años,
            organizado por FIG Llanos Orientales.
          </p>
          <p>
            La entrada es gratis y se puede ir con toda la familia. Entre la
            programación, se destaca, de acuerdo a globos.es, un Night Glow, con
            música típica de la región y vuelos cautivos para amenizar al
            público durante una hora larga.
          </p>
          <p>
            Sin duda una experiencia que reunirá los mejor de este territorio
            que tiene mucho por mostrar, también una oportunidad para seguir con
            la reactivación del turismo.
          </p>

          <div class="detail__video">
            <figure>
              <iframe
                width="560"
                height="315"
                src="https://www.youtube.com/embed/3G8IMPTVxZU"
                title="YouTube video player"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; "
                allowfullscreen></iframe>
              <figcaption>Globos aerostáticos</figcaption>
            </figure>
          </div>
        </div>
      </main>
    </div>
    <footer class="footer-pages">
      <span>HTML & CSS II |</span>
      <span>2023 © Laura Osorio Ortega | UOC</span>
    </footer>
  </body>
</html>
