<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="../assets/styles/styles.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="../assets/styles/linksStyle.css"
    />
    <script type="module" src="../assets/scripts/app.js"></script>

    <title>Categorías Puerto López</title>
  </head>
  <body>
    <header class="header">
      <nav class="nav-bar">
        <input type="checkbox" id="nav-check" />
        <div class="nav-bar__btn">
          <label for="nav-check">
            <span></span>
            <span></span>
            <span></span>
          </label>
        </div>

        <div class="nav-bar__links" id="mainListDiv">
          <a href="../index.html">Inicio</a>
          <a href="./categories.html">Categorías</a>
          <a href="./presentation.html">Presentación</a>
          <a href="./links.html">Enlaces</a>
        </div>
      </nav>
    </header>
    <main class="links">
      <h1 class="title">Enlaces de referencia sobre Puerto López</h1>
      <div>
        <ul class="nested-list">
          <li class="list-title-icon">
            El cielo de los Llanos Orientales se engalana con el Festival
            Internacional de Globos Aerostáticos.
            <ul class="inside-list">
              <li>J. M. (2023, enero 13).</li>
              <li>
                <a
                  href="https://www.colombia.com/turismo/noticias/el-cielo-de-los-llanos-orientales-se-engalana-con-el-festival-internacional-de-globos-aerostaticos-385284                 "
                  target="_blank"
                  >Colombia.com.
                </a>
              </li>
            </ul>
          </li>

          <li class="list-title-icon">
            Los globos aerostáticos vuelan en los cielos de Llanos Orientales.
            (s/f).
            <ul class="inside-list">
              <li>
                <a
                  href="https://www.globos.es/blog/los-globos-aerostaticos-vuelan-a-la-conquista-de-los-llanos
                  "
                  target="_blank"
                  lang="en"
                >
                  Globos.es. Recuperado el 27 de abril de 2023
                </a>
              </li>
            </ul>
          </li>

          <li class="list-title-icon">
            ¿Qué hay para hacer en Puerto López, el ombligo de Colombia?
            <ul class="inside-list">
              <li>Mena, Ó. (2023, enero 24).</li>
              <li>
                <a
                  href="https://revistadiners.com.co/estilo-de-vida/viajes/121520_que-hay-para-hacer-en-puerto-lopez-el-ombligo-de-colombia/"
                  target="_blank"
                >
                  Revista Diners.
                </a>
              </li>
            </ul>
          </li>

          <li class="list-title-icon">
            Una experiencia exoticamente avestrucera.
            <ul class="inside-list">
              <li>
                <a href="https://parqueavestruz.com/es-ES/" target="_blank">
                  PARQUE AVESTRUZ
                </a>
              </li>
            </ul>
          </li>
          <li class="list-title-icon">
            Viaja por Colombia.
            <ul class="inside-list">
              <li>Puerto López. (s/f). Recuperado el 27 de abril de 2023</li>
              <li>
                <a
                  href="https://viajaporcolombia.com/sitios-turisticos/meta/puerto-lopez_214/
                  "
                  target="_blank"
                >
                  Sitios turísticos Puerto López
                </a>
              </li>
            </ul>
          </li>

          <li class="list-title-icon">
            Mirador del mar verde de Colombia
            <ul class="inside-list">
              <li>Puerto López, (2021, febrero 20).</li>
              <li>
                <a
                  href="https://periodicodelmeta.com/puerto-lopez-mirador-del-mar-verde-de-colombia/"
                  target="_blank"
                >
                  Periodicodelmeta.com
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </main>
    <footer class="footer-pages">
      <span>HTML & CSS II |</span>
      <span>2023 © Laura Osorio Ortega | UOC</span>
    </footer>
  </body>
</html>
