<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="../assets/styles/styles.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="../assets/styles/detailStyle.css" />

    <title>Caño La Venturosa</title>
  </head>
  <body>
    <header class="header">
      <nav class="nav-bar">
        <input type="checkbox" id="nav-check" />
        <div class="nav-bar__btn">
          <label for="nav-check">
            <span></span>
            <span></span>
            <span></span>
          </label>
        </div>

        <div class="nav-bar__links" id="mainListDiv">
          <a href="../index.html">Inicio</a>
          <a href="./categories.html">Categorías</a>
          <a href="./presentation.html">Presentación</a>
          <a href="./links.html">Enlaces</a>
        </div>
      </nav>
    </header>
    <div class="flex-container">
      <main>
        <div class="detail__title">
          <h1>Navegación rio Meta</h1>
          <p>De travesía por el río Meta</p>
        </div>

        <div class="detail__submenu">
          <ul class="submenu__list">
            <li>
              <a href="./ombligo-detail.html">Ombligo de Colombia</a>
              <span>·</span>
            </li>

            <li>
              <a href="./parque-avestruz-detail.html">Parque Avestruz </a>
              <span>·</span>
            </li>
            <li>
              <a href="./cano-venturosa-detail.html">Caño La Venturosa</a
              ><span>·</span>
            </li>
            <li>
              <a href="./globos-aerostáticos-detail.html"
                >Globos aerostáticos
              </a>
              <span>·</span>
            </li>
            <li>
              <a href="./merecure-parque-detail.html">Merecure Parque</a>
              <span>·</span>
            </li>
            <li>
              <a href="./rio-meta-detail.html">Navegación por el rio Meta</a>
            </li>
          </ul>
        </div>

        <div class="detail__text">
          <p>
            Desde el puerto del pueblo podrá dar un paseo por el río Meta en una
            barca con capacidad para 15 personas, no obstante, por tan solo
            10.000 pesos por dos horas sentirá el viento rosar su cara mientras
            se asombra con los imponentes paisajes.
          </p>
          <p>
            Y por si no lo sabían en Puerto López hay playa, pues, durante el
            verano cuando baja el nivel del agua en medio del río se forma una
            playa muy alegre y divertida donde disfrutan grandes y chicos. Tenga
            en cuenta que para vivir esta experiencia deberá ir en temporada
            seca que comprende los meses de diciembre hasta abril
            aproximadamente.
          </p>
          <p>
            Por el contrario, la vista desde el malecón turístico es más
            agradable en invierno cuando se aprecia mejor la fuerza y magnitud
            del río Meta. Allí encontrará los lugares más representativos de la
            gastronomía de Puerto López donde se prepara de diversas formas el
            amarillo, la cachama, el bagre, entre otras especies, sin olvidar la
            mamona y los amasijos representativos del llano.
          </p>

          <div class="detail__video">
            <figure>
              <iframe
                width="560"
                height="315"
                src="https://www.youtube.com/embed/O2rxgKrUIGM"
                title="YouTube video player"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;"
                allowfullscreen></iframe>
              <figcaption>De travesía por el río Meta</figcaption>
            </figure>
          </div>
        </div>
      </main>
    </div>
    <footer class="footer-pages">
      <span>HTML & CSS II |</span>
      <span>2023 © Laura Osorio Ortega | UOC</span>
    </footer>
  </body>
</html>
